<p id="notice"><%= notice %></p>

<div class="card" >
  <img src="<%= @post.pic %>" class="card-img-top img-fluid" alt="Users profile pic">
  <div class="card-body">
    <h5 class="card-title"><%= @post.user.profile.first_name %> <%= @post.user.profile.last_name %></h5>
    <p class="card-text"><%= @post.caption %></p>

  </div>
</div>
